.company-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 70px;
}

.company-info-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 5px;
    background: linear-gradient(250deg, white, var(--primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.company-info-subtitle
{
    font-size: 40px;
    margin-bottom: 0px;
    color: var(--primary);
    margin-bottom: 15px;
}

.company-info-text
{
    font-size: 20px;
    line-height: 1.5;
    color: var(--text-main);
}

.company-info-content {
    background: rgba(0, 0, 0, 0.10);
    width: 100%;
    border-radius: 12px;
    padding: 20px;
}

.company-info-content-item {
    padding: 20px;
    gap: 20px;
}

.company-info-content-item-text {
    width: 50%;
    text-align: justify;
}

.company-info-content-item-image {
    width: 50%;
    text-align: center;
}

.company-info-what-is-desportes
{
    display: flex;
}

.company-info-why-choose-us {
    padding: 20px;
    text-align: center;
}

.company-info-benefits {
    padding: 20px;
    text-align: center;
}

.benefits-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.benefit-card {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 50px;
    text-align: center;
    transition: all 0.3s ease;
}

.benefit-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.user-review-card-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.user-review-card
{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    padding: 50px;
    text-align: center;
    transition: all 0.3s ease;
}

.user-review-card-header
{
    display: flex;
    gap: 15px;
}
